!!!
%html

  %head
    %title 
      Yum //  
      = @query
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link(rel="stylesheet" href="stylesheet.css")

  %body
    #body
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-58268-8']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();
      #topbar
      #header
        %h1 
          %span(id="title") Yum 
      #searchbox
        %form(method="get" action="search")
          %input(type="text" name="query" size="30" value=@query)
          %input(type="submit" value="Search" id="searchbutton")
      %p
      #results
        #resultheader
          %h4
            = @results.total_results_available.to_s.reverse.scan(/(?:\d*\.)?\d{1,3}-?/).join(',').reverse
            results for:
            %b
              = @query
        #resultvids
          %ul
            = list_of(@results.video_set) do |vid|

              .result
                .resultimg
                  %a{:href => vid['videoUrl'], :alt => vid['title']}
                    %img{:src => vid["thumbnailUrl"], :class => "thumbnail"}
                .resultinfo
                  %h3
                    %a{:href => vid['videoUrl'], :alt => vid['title']}
                      = vid['title']
                  %div
                    = vid['description']
                  = vid['runtime']
                  %span.source seconds long. From 
                  = vid['channel']
                  %span.tags 
                    %br
                    = vid['tags']
                  %span.dateproduced 
                    %br
                    = vid['dateFound']
                    %br
                    = vid['id']

        #resultpages
          - next_page = @page.to_i + 1
          - prev_page = @page.to_i - 1
          - if prev_page > 0
            %a{:href => l("search", {"query" => @query, "page" => prev_page})} Back!
          = "This is page #{@page}."
          %a{:href => l("search", {"query" => @query, "page" => next_page})} More!
        

    #footer
      = "&copy H10Labs #{Time.new.year()}."
      Powered by
      %a(href="http://www.truveo.com")< Truveo.      