!!!
%html

  %head
    %title 
      Yum //  
      = @query
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link(rel="stylesheet" href="stylesheet.css")

  %body
    #body
      #topbar
      #header
        %h1 
          %span(id="title") Yum 
      #searchbox
        %form(method="get" action="search")
          %input(type="text" name="query" size="30" value=@query)
          %input(type="submit" value="Search" id="searchbutton")
      %p
      #results
        / #resultheader
        /         %h4
        /           = @results.total_results_returned
        /           results for:
        /           = @query
        #resultvids
          %ul
            - @results.video_set.each do |vid|
              %li
                .result
                  .resultimg
                    %a{:href => vid['videoUrl'], :alt => vid['title']}
                      %img{:src => vid["thumbnailUrl"], :class => "thumbnail"}
                  .resultinfo
                    %h3
                      %a{:href => vid['videoUrl'], :alt => vid['title']}
                        = vid['title']
                    %div
                      = vid['description']
                    %span.runtime 
                      = vid['runtime']
                      seconds long. 
                    %span.source 
                      From 
                      = vid['channel']
                    %span.tags 
                      %br
                      = vid['tags']
                    %span.dateproduced 
                      %br
                      = vid['dateFound']
                      %br
                      = vid['id']
          
                  
    #footer
      &copy H10Labs 2010.
      Powered by 
      %a(href="http://www.truveo.com")
        Truveo