!!!
%html

  %head
    %title 
      Yum //  
      = @query
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link(rel="stylesheet" href="stylesheet.css")

  %body
    #body

      #topbar
      #header
        #title
          %h1 Yum 
        #searchbox
          %form(method="get" action="search")
            %input(type="text" name="query" size="50" value=@query)
            %input(type="submit" value="Search" id="searchbutton")
      %p
      - if @results
        #results
          #resultheader
            %h4
              = @results.total_results_available.to_s.reverse.scan(/(?:\d*\.)?\d{1,3}-?/).join(',').reverse if @results
              results for:
              %b
                = @query
            
          #resultvids
            %ul
              = list_of(@results.video_set) do |vid|

                .result
                  .resultimg
                    %a{:href => vid['videoUrl'], :alt => vid['title']}
                      %img{:src => vid["thumbnailUrl"], :class => "thumbnail"}
                  .resultinfo
                    %h3
                      %a{:href => vid['videoUrl'], :alt => vid['title']}
                        = vid['title'].gsub(/(#{@query})/i, '<strong>\1</strong>')
                    -if vid['runtime']
                      %span.runtime
                        =vid['runtime']
                        \-
                    %span.dateproduced 
                      Found
                      = vid['dateFound']
                    - unless vid['description'].nil?
                      .description
                        = vid['description'].gsub(/(#{@query})/i, '<strong>\1</strong>')
                    .channel
                      %a{:href => l("search", {"query" => 'channel:""' + vid['channel'] + '"'})}
                        = vid['channel']
                    -if vid['tags']
                      .tags 
                        - (vid['tags'].split(',')).each do |tag|
                          %a{:href => l("search", {"query" => tag.strip})}= tag.gsub(/(#{@query})/i, '<strong>\1</strong>')
                    .vid
                      = vid['id']
    
            #resultpages
              - next_page = @page.to_i + 1
              - prev_page = @page.to_i - 1
              - if prev_page > 0
                %a{:href => l("search", {"query" => @query, "page" => prev_page})} Back!
              = "This is page #{@page}."
              %a{:href => l("search", {"query" => @query, "page" => next_page})} More!
      
      #resultads
        :plain
          <script type="text/javascript"><!--
          google_ad_client = "pub-6061052847545837";
          /* 468x60, created 2/21/10 */
          google_ad_slot = "7787828628";
          google_ad_width = 468;
          google_ad_height = 60;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>

    #footer
      Yum 
      %span.heart ♥ 
      video 
      %br
      from all over the web
      %br
      %br
      = "☺ h10 labs #{Time.new.year()}."
      thanks 
      %a(href="http://www.truveo.com")< truveo!
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-58268-8']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();